.container{
    justify-items: center;
}

.responsive-svg-container-1{
    width: 100%;
    max-width: 800px;
}

.responsive-svg-container-2{
    width: 100%;
    max-width: 800px;
}

.responsive-svg-container-3{
    width: 100%;
    max-width: 800px;
}

.responsive-svg-container-4{
    width: 100%;
    max-width: 800px;
}

#tooltip{
    position: absolute;
    padding: 6px 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    pointer-events: none;
    opacity: 0;
}