.container{
    justify-items: center;
}

header{
    text-align: center;
    background-color: rgb(88, 198, 88);
    width: 100%;
    padding: 50px 0;
    color: white;
    line-height: 40px;
}

header h1{
    font-size: 36px;
}

header p{
    font-size: 25px;
}

h2{
    margin-top: 40px;
    margin-bottom: 10px;
}

.responsive-svg-container-1{
    width: 100%;
    max-width: 800px;
}

.responsive-svg-container-2{
    width: 100%;
    max-width: 800px;
}

.responsive-svg-container-3{
    width: 100%;
    max-width: 800px;
}

.responsive-svg-container-4{
    width: 100%;
    max-width: 800px;
}

#tooltip{
    position: absolute;
    padding: 6px 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    pointer-events: none;
    opacity: 0;
}

footer{
    margin-top: 50px;
    height: 50px;
    width: 100%;
    background-color: rgb(88, 198, 88);
}